html,
body {
     font-family: 'Helvetica';
     background-color: #F9F9F9;
     color: #000000;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
 }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 4rem 2rem;
  text-align: left; /* Align text to the left */
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* From Uiverse.io by Satwinder04 */ 
.input-container {
  position: relative;
  margin: 100px auto;
  width: 500px;
}

.input-container input[type="text"],
.input-container input[type="date"],
.input-container input[type="tel"],
.input-container input[type="number"]{
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container input[type="date"]:focus ~ .label,
.input-container input[type="date"]:valid ~ .label,
.input-container input[type="tel"]:focus ~ .label,
.input-container input[type="tel"]:valid ~ .label,
.input-container input[type="number"]:focus ~ .label,
.input-container input[type="number"]:valid ~ .label{
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline

.input-container input[type="date"]:focus ~ .underline,
.input-container input[type="date"]:valid ~ .underline,

.input-container input[type="tel"]:focus ~ .underline,
.input-container input[type="tel"]:valid ~ .underline,

.input-container input[type="number"]:focus ~ .underline,
.input-container input[type="number"]:valid ~ .underline {
  transform: scaleX(1);
}

/* button thing */
.button-container1 {
  display: flex;
  justify-content: left; /* Center buttons horizontally */
  gap: 10px; /* Space between buttons */
}

.button_yes,
.button_no {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 40px;
  width: 100px; /* Adjust width as needed */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.button_yes {
  background: #0433ff27;
}

.button_no {
  background: #ff260027;
}

.lable1 {
  margin-top: 1px;
  font-size: 19px;
  line-height: 22px;
  color: #056DFA;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button_yes:hover {
  background: #0433ff49;
}

.button_no:hover {
  background: #ff260049;
}

.button_yes:hover .svg-icon,
.button_no:hover .svg-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* From Uiverse.io by Yaya12085 */ 
.warning {
  max-width: 320px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

.pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31 41 55 );
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
}

.pref:hover {
  color: rgb(156 163 175);
}

.pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.accept {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: rgb(17 24 39);
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
  background-color: rgb(55 65 81);
}

.accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button_back {
  display: block;
  margin: 10px 0;
  font-size: 20px;
  color: #919191; /* Adjust color as needed */
  cursor: pointer;
  text-decoration: none; /* Remove default underline */
}

.button_back:hover {
  color: #000000; /* Adjust hover color as needed */
  text-decoration: underline; /* Underline on hover */
}

.summary-container {
  padding: 35px;
  border: 1px solid #eaeaea;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 600px;
}

.summary-container h2 {
  margin-top: 0;
  font-size: 2.2rem;
  color: #333;
  font-family: Helvetica;
}

#summary-content {
  margin: 1.2rem 0;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #056bfa;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.submit-button:hover {
  background-color: #3684d9;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

p {
  margin: 0;
  max-width: 650px;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  font-family: Helvetica;
}
h3 {
  font-size: 1.3rem;
  font-family: Helvetica;
}


/* From Uiverse.io by satyamchaudharydev */ 
.receipt {
 --primary-clr: #1C204B;
 --dot-clr: #BBC0FF;
 --play: hsl(196, 73%, 62%);
 width: 400px;
 height: 340px;
 border-radius: 20px;
}

.receipt {
 font-family: "Helvetica";
 color: #fff;
 display: grid;
 cursor: pointer;
 grid-template-rows: 55px 1fr;
}

.receipt:hover .img-section {
 transform: translateY(1em);
}

.receipt-desc {
 border-radius: 20px;
 padding: 30px;
 position: relative;
 top: -15px;
 display: grid;
 gap: 5px;
 background: var(--primary-clr);
}

.receipt-time {
 font-size: 4em;
 font-weight: bold;
}

.img-section {
 transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 background: hsl(195, 74%, 62%);
}

.receipt-header {
 display: flex;
 align-items: center;
 width: 100%;
}

.receipt-title {
 flex: 1;
 font-size: 1.8em;
 font-weight: 500;
}

.receipt-menu {
 display: flex;
 gap: 4px;
 margin-inline: auto;
}

.receipt svg {
 float: right;
 max-width: 100%;
 max-height: 100%;
}

.receipt .dot {
 width: 5px;
 height: 5px;
 border-radius: 50%;
 background: var(--dot-clr);
}

.receipt .recent {
 line-height: 0;
 font-size: 1.4em;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 40px;
  width: 128px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.lable {
  margin-top: 1px;
  font-size: 19px;
  line-height: 22px;
}

.back-button {
  background: #0433ff27;
  color: #0433ff;
}

.next-button {
  background: #056bfa27;
  color: #056dfa;
}

.back-button:hover {
  background: #0433ff49;
}

.next-button:hover {
  background: #056bfa49;
}

.button:hover .svg-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 20px auto;
  margin-top: -50px;
}

/* Add styles for the submit question container */
.question-container#question-submit .button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  position: relative; /* Ensure positioning is relative to this container */
  margin-top: 20px; /* Adjust the space above the buttons if needed */
}

.question-container#question-submit .back-button {
  margin-bottom: -10px; /* Adjust the space between the button and the rounded rectangle if needed */
}

